<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rz.mapper.ArticleMapper">

    <select id="queryAllArticle" resultType="com.rz.entity.Article">
        select *
        from likefr_vue_blog.t_article
    </select>
</mapper>
